
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #FFCB9A;
}
span{
  margin: 10px 10px;
}
.App {
  text-align:left;
  
}
.headline{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px;
  color: #0F6466;
}
hr{
  height: 3px;
  background-color: #D8B08C;
  border: 1px solid #D8B08C;
  margin-top: 50px;
  margin-bottom: 50px;
}
h1{
  color: #0F6466;
  font-size: 18px;
 
}
.container-home{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.load{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  padding-left: 550px;
  margin-top: 50px;
}
.load-album{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.load-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.link{
  text-decoration: none;
  color: #0F6466;
}
.link-bt{
  font-size: 20px;
  text-decoration: none;
  padding: 0px 50px;
  border: 2px solid #2C3532;
  border-radius: 10px;
  color: #fff;
  background-color: #0F6466;
  text-align: center;
}
.link-bt:hover{
  background-color: #053536;
  color: #fff;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  
}
.album-home{
  border: solid 2px #2C3532;
  margin: 0 20px;
  padding: 15px;
  height: 70px;
}
.album:hover{
  background-color: #D8B08C;
  
}
.container-album{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;

}
.grid-album{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo{
   margin-top: 50px;
}
.title-album{
  font-size: 45px;
  margin-top: 50px;
  color:#0F6466;
  text-transform: uppercase;

}
.info-album{
  font-size: 13px;
  margin: 20px;
}
.info{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #0F6466;
}
#photo{
  margin: 20px;
}
.load-album,
.load-photo,
.load{
  color: #0F6466;
}